In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame([[4,5]]*3,columns= ['A','B'])

In [8]:
df

   A  B
0  4  5
1  4  5
2  4  5

In [14]:
df.apply(np.mean)

A    4.0
B    5.0
dtype: float64

In [16]:
df.apply(lambda x: x.sum())

A    12
B    15
dtype: int64

In [21]:
df.B.apply(np.sqrt)

0    2.236068
1    2.236068
2    2.236068
Name: B, dtype: float64

In [20]:
df.apply(np.square)

    A   B
0  16  25
1  16  25
2  16  25